/* add styling */
section{
padding: 40px 0;
text-align: center;

}

#logins{
    padding: 20% 0;
}
.login{
    width:48%;
    display:inline-block;   
}

.btn{
    display: inline-block;
    color: white;
    font-weight: 500;
    font-size: 20px;
    background: #3F7CAC;
    border: none;
    border-radius: 5px;
    padding: 12px 16px;
    cursor: pointer;
    width: 100px;

}
.btn:hover{
    background: #2e88cc;
}

#login-hr{
    border-left: 1px solid #ccc;
}

input{
    border-radius: 30px;
    padding: 1em 2em;
    margin: 1em 0;
}

#close-modal{
    position: absolute;
    top: 1em;
    right: 2em;
    padding: 0.5em;
    cursor: pointer;
    font-weight: bolder;
}
#modal{
    position: relative;
    background-color: white;
    padding: 5em;
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.modal-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
   
}

.modal-active{
    visibility: visible;
    opacity: 1;
}
