body {
  margin: 0;      
  height: 6.2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
} 

.form-input {
  width: 100%;
  padding: 1em;
  margin: 0.5em 0;
  display: inline-block;
  border: 0.06em solid #ccc;
  border-radius: 0.25em;
  box-sizing: border-box;
}

button {
  width: 50%;
  background-color: #3F7CAC;
  color: white;
  padding: 0.87em 1.87em;
  margin: 0.5em 0;
  border: none;
  border-radius: 0.31em;
  cursor: pointer;
  text-align: center;
  display:block;
  margin: 0 auto;
}

section{
  
  background-color: white;
  padding: 1.25em;      
  margin: auto; 
  width: 50%;
}  
form{
  border-radius: 0.31em;
  background-color: #f2f2f2;
  padding: 1.25em;
  margin: auto; 
  width: 50%;
}

h1{
 
  border-left: 0.31em solid red;
  padding: 0.63em; 
  color: #000;
  letter-spacing: 0.31em;
}

footer{
  text-align: center;  
  background: #3F7CAC;
  color: rgb(49, 189, 199);
  position: fixed;
  bottom: 0;
  width: 100%;          
  height: 3.12em;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  background-color: #3F7CAC;
 
  
}

img {
  width: 10%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 40%;
  
}

nav ul li{
  list-style: none;

  
 
}

nav ul li a{
text-decoration: none;
 padding: 2rem 1rem; 
 text-align: center;
 color: white ;
  font-family: "Poppins",sans-serif;
}
/* .nav-links {
  display: flex;
  justify-content: space-around;
  width: 20%;
} */

nav ul ul  {
 /* display: flex;
 flex-direction: column; */
  display: none;
  position: absolute;
  padding: 2em 0rem;
  background: #3F7CAC;
  width: 12rem;
}
nav ul .dropdown:hover ul {
  display:block
  
}

nav ul ul li {
  padding: 1rem;
  }
  
 

  .navigation ul li:hover a{
    color: rgb(49, 189, 199);
}

nav ul ul:hover a{
  color: white;
}
