/* Nomcebo Navigation Bar style */
*{
    margin: 0;
}
.navigation{
    position: fixed;
    height: 100%;
    width: 18rem;
    background-color: #3F7CAC;
   
}

img {
    height: 10%;
    width: 40%;

}
.navigation ul{
    position: absolute;
    width: 100%;
}
.navigation ul li{
    position: relative;
    width: 90%;
    list-style: none;
    border-top-left-radius: 1.8rem;
    border-bottom-left-radius: 1.8rem;
}
 .navigation ul li:hover{
    background-color: white;           

} 

.logo{
    margin-bottom: 3rem;
    pointer-events: none; 
}
.navigation ul li a{
    position: relative;
    /* display: block; */
    width: 100%;
    display: flex;
    text-decoration: none;
     color: rgb(49, 189, 199); 
}
 .navigation ul li:hover .title{
    color: rgb(49, 189, 199);
}
.navigation ul li a i {
    position: relative;
    display: block;
     min-width: 3.7rem;
    height: 3.7rem;
    line-height: 3.7rem; 
    text-align: center;
    font-size: 1.75rem;           
   
} 
.navigation ul li a .title{
    position: relative;
    display: block;           
    height: 3.7rem;
    line-height: 3.7rem;
    font-weight: bold;           
}

.title{
    margin-left: 1rem;
    color: white ;
    font-family: "Poppins",sans-serif;
}

nav ul ul  {
    
    position: absolute;
    left: 15.3rem;
    top:0.3rem;
    width: 12rem;
  box-shadow: 0.25rem 0.25rem 0.25rem rgb(0, 0, 1);
  font-family: "Poppins",sans-serif;
    display: none;
    padding: 1.1rem;
  
}

nav ul .dropdown  {
    position: relative
}

nav ul .dropdown:hover ul {
    display:block
    
}



nav ul ul li {
padding: 0rem 0.4rem;

}

nav ul ul a {
    border-top-left-radius: 1.8rem;
    border-bottom-left-radius: 1.8rem;
   font-weight: bolder;
   padding: 1em 1em 1em 1.3em;
   
}

nav ul ul a:hover {
    background: #3F7CAC;
    color: white;
    
}
