/* Nomcebo Navigation Bar style */

.navigation{
    position: fixed;
    height: 100%;
    width: 18em;
    background-color: #3F7CAC;
   
}
.navigation ul{
    position: absolute;
    width: 100%;
}
.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 1.8em;
    border-bottom-left-radius: 1.8em;
}
.navigation ul li:hover{
    background-color: white;           

}

.logo{
    margin-bottom: 3em;
    pointer-events: none; 
}
.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: rgb(49, 189, 199);
}
.navigation ul li:hover .title{
    color: rgb(49, 189, 199);
}
.navigation ul li a i {
    position: relative;
    display: block;
    min-width: 2em;
    height: 2em;
    line-height: 2em; 
    text-align: center;
    font-size: 1.75em;           
   
} 
.navigation ul li a .title{
    position: relative;
    display: block;           
    height: 3em;
    line-height: 3.7em;
    font-weight: bold;           
}

.title{
    margin-left: 1em;
    color: white ;
    font-family: "Poppins",sans-serif;
}
#signout{
    position: fixed; bottom: 1rem;
}
