/* Login styles */

*{
  padding: 0;
  margin: 0;
  }
  
  #login-btn:hover {
    background: green;
  }
  
  input::placeholder {
    font-size: 1.5em;
  }
  
  
  
   .formElements {
    border-radius: 0.50em;
    padding: 1.5em 2em;
    margin: 1em 0;
    font-size: 0.5em;
  }
  
  h2 {
    text-align: center;
  }
  
  #loginForm {
    /* position: absolute;  */
    gap: 0;
    height: 60%;
    width: 40%;
    display: flex;
    font-size: 1.7em;
    color:#12C0B8 ;
    flex-direction: column;
    /* display: inline-block; */
  }
  
  #login-btn {
  
    font-weight: bolder;
    background: #12C0B8; 
    border: none;
    cursor: pointer;
   color: #fff;
   font-size: 1em;
   padding: 0.5em 0.5em;
   border-radius: 0.2em;
  
  } 
  
  .container {
    position: relative;
    object-fit: cover;
    background-color: #2a2a2b;
    display: flex;
    flex-direction: column;
    background: url("../images/background.jpg") no-repeat center fixed;     
    background-size: cover;
  
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url("../images/background.jpg"); */
    background-size: cover;
    width: 100%;
  }
  
   .main {
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  } 
  
  #login {
    font-size: 2em;
    color: #12C0B8;
    font-weight: bolder;
  }
  
  .loginNav {
    display: flex;
 
   
  }
    
  img {
      width: 10%;
      padding: 1em 1em;

  }

 /* form Navigation styles */
 .navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  background-color: #3F7CAC
}



.nav-links {
  display: flex;
  justify-content: space-around;
  width: 20%;
}

.nav-links li {
  list-style: none;
}

.dropdown {
  position: relative;
  display: inline-block
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-content a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 12px 16px;
}

.dropdown-content a:hover {
  background-color: blue;
}

.dropdown:hover .dropdown-content {
  display: block;
}



  /* form Styles */

  .manBody {
    margin: 0;
    padding: 50px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 6.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

#employeeName,
#stationname {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.manBtn {
    width: 50%;
    background-color: #3F7CAC;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.manSect {
    border-radius: 5px;
    background-color: white;
    margin: auto;
    width: 50%;
}

.manForm {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: auto;
    width: 50%;
}

#manH3 {
    font-size: 2em;
    border-left: 5px solid red;
    padding: 10px;
    color: #000;
    letter-spacing: 5px;
    margin-bottom: 60px;
    font-weight: bold;
    padding-left: 10px;
}
.empBody {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  height: 6.2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

#fname, #lname, #address, #phone , #dateofbirth, #email {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.empBtn {
  width: 50%;
  background-color: #3F7CAC;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  display:block;
  margin: 0 auto;
}

.empSect{
  border-radius: 5px;
  background-color: white;
  padding: 10px;

  margin: auto; 
  width: 50%;
}
.empForm {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: auto; 
  width: 50%;
}

#empH3{
  font-size: 2em;
  border-left: 5px solid red;
  padding: 10px;
  color: #000;
  letter-spacing: 5px;
  margin-bottom: 60px;
  font-weight: bold;
  padding-left: 10px;
}

            
.driverBody {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  height: 6.2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

#employeeName, #busId, #phases, #startdate, #enddate{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.driverbtn {
  width: 50%;
  background-color: #3F7CAC;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  display:block;
  margin: 0 auto;
}

.driverSect{
  border-radius: 5px;
  background-color: white;
  padding: 20px;

  margin: auto; 
  width: 50%;
}
.driverForm {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: auto; 
  width: 50%;
}

#driverH3{
  font-size: 2em;
  border-left: 5px solid red;
  padding: 10px;
  color: #000;
  letter-spacing: 5px;
  margin-bottom: 60px;
  font-weight: bold;
  padding-left: 10px;
  
}


.manBody {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  height: 6.2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

#employeeName, #stationname{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.manBtn {
  width: 50%;
  background-color: #3F7CAC;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  display:block;
  margin: 0 auto;
}

.manSect{
  border-radius: 5px;
  background-color: white;
  padding: 20px;  
  margin: auto; 
  width: 50%;
}
.manForm {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: auto; 
  width: 50%;
}

#manH3{
  font-size: 2em;
  border-left: 5px solid red;
  padding: 10px;
  color: #000;
  letter-spacing: 5px;
  margin-bottom: 60px;
  font-weight: bold;
  padding-left: 10px;
}


.ticketBody{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  height: 6.2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  }

  #ticketType, #description, #price {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  }

  .ticketBtn {
  width: 50%;
  background-color: #3F7CAC;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  display:block;
  margin: 0 auto;
  }

  .ticketSect{
  border-radius: 5px;
  background-color: white;
  padding: 20px;    
  margin: auto; 
  width: 50%;
  }
  .ticketForm {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: auto; 
  width: 50%;
  }

  #ticketH3{
  font-size: 2em;
  border-left: 5px solid red;
  padding: 10px;
  color: #000;
  letter-spacing: 5px;
  margin-bottom: 60px;
  font-weight: bold;
  padding-left: 10px;
  }
  .ticketFooter, .manFooter, .driverFooter, .empFooter , .busFooter{
      padding: 10px 20px;
      background: #3F7CAC;
      color: rgb(49, 189, 199);
      position: fixed;
      bottom: 0;
      width: 100%;          
      height: 50px;
    }

    /* Side Nav*/
    #dash-container {
      display: flex;
      align-items: stretch;
      
    }
    
    #nav-container{
      height: 100%;
    }
    #side-nav{
      background-color: #12C0B8;
    }

    .side-links{
      display: block;
      padding: 20px;
      text-decoration: none;
      font-size: 1.2em;
      font-weight: bold;
      
     
    }

    .side-links:hover{
      background-color: #ffffff;
      border-radius: 30px;
    }

    .tr{
      background-color: #2095bc;
      border-bottom:1px solid #f2f2f2;
      padding: 2em;
      font-weight: 200;
    }

        
  .busBody {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      justify-content: center;
      align-items: center;
      height: 6.2rem;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
    }

    #bustype{
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    .form-input {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    .busBtn {
      width: 50%;
      background-color: #3F7CAC;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      text-align: center;
      display:block;
      margin: 0 auto;
    }

    .busSect{
      border-radius: 5px;
      background-color: white;
      padding: 20px;      
      margin: auto; 
      width: 50%;
    }
    .busForm {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
      margin: auto; 
      width: 50%;
    }

    #busH3{
      font-size: 2em;
      border-left: 5px solid red;
      padding: 10px;
      color: #000;
      letter-spacing: 5px;
      margin-bottom: 60px;
      font-weight: bold;
      padding-left: 10px;
    }

  

/* end of form containers */
  
  
  @media(max-width:768px){
    /* #login-btn {
      font-size: 1em;
      background: #12C0B8;
      /* padding: 0.5em 2.4em; 
      font-weight: bold;
     
    } */
  
    h2 {
      text-align: left;
      margin-bottom: 1em;
    }
  
    #loginForm {
   
     margin-bottom: 3em;  
     font-weight: bolder; 
    }
  
    img {
      width: 20%;
      padding: 1em 1em;
    }
  
  
  }
  
  .container {
    height: 100vh; 
  }
  
  
  
  
  /* Itu styles */
 

