* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#login-btn {
    display: inline-block;
    font-weight: bolder;
    font-size: 1em;
    background: #3F7CAC;
    border: none;
    border-radius: 8px;
    padding: 0.5em 2em;
    cursor: pointer;
    color: #fff;
}

#login-btn {
    color: #fff;
    text-decoration: none;
}

#login-btn:hover {
    background: #021524;
}

input::placeholder {
    font-size: 1.5em;
}

input {
    border-radius: 0.50em;
    padding: 1.5em 2em;
    margin: 1em 0;
}

h2 {
    text-align: center;
}

#loginForm {
    /* position: absolute;  */
    gap: 0;
    height: 60%;
    width: 40%;
    display: flex;
    font-size: 1.7em;
    color: #fff;
    flex-direction: column;
    /* display: inline-block; */
}

.container {
    object-fit: cover;
    background-color: #2a2a2b;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url("../images/background.jpg");
    background-size: cover;
    width: 100%;
}

.main {
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login {
    font-size: 2em;
    color: rgb(163, 241, 46);
    font-weight: bolder;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    background-color: #3F7CAC
}

img {
    width: 20%;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 20%;
}

.nav-links li {
    list-style: none;
}

.dropdown {
    position: relative;
    display: inline-block
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-content a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 12px 16px;
}

.dropdown-content a:hover {
    background-color: blue;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.hamburger {
    cursor: pointer;
    display: none;
}

.bar {
    display: block;
    width: 30px;
    height: 5px;
    background-color: #fff;
    margin: 0.25em auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.manBody {
    margin: 0;
    padding: 50px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 6.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

#employeeName,
#stationname {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.manBtn {
    width: 50%;
    background-color: #3F7CAC;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.manSect {
    border-radius: 5px;
    background-color: white;
    margin: auto;
    width: 50%;
}

.manForm {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: auto;
    width: 50%;
}

#manH3 {
    font-size: 2em;
    border-left: 5px solid red;
    padding: 10px;
    color: #000;
    letter-spacing: 5px;
    margin-bottom: 60px;
    font-weight: bold;
    padding-left: 10px;
}

@media(max-width:768px) {
    .nav-links {
        position: absolute;
        right: 0px;
        height: 90vh;
        top: 8vh;
        background-color: #3F7CAC;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        left: -100%;
    }
    /* .nav-links li {
      opacity: 0;
  } */
    .hamburger {
        cursor: pointer;
        display: block;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-links.active {
        left: 0;
        text-align: left;
    }
}

            
.empBody {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 6.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }

  #fname, #lname, #address, #phone , #dateofbirth, #email {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }


  .empBtn {
    width: 50%;
    background-color: #3F7CAC;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    display:block;
    margin: 0 auto;
  }

  .empSect{
    border-radius: 5px;
    background-color: white;
    padding: 20px;
  
    margin: auto; 
    width: 50%;
  }
  .empForm {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: auto; 
    width: 50%;
  }

  #empH3{
    font-size: 2em;
    border-left: 5px solid red;
    padding: 10px;
    color: #000;
    letter-spacing: 5px;
    margin-bottom: 60px;
    font-weight: bold;
    padding-left: 10px;
  }
  
              
  .driverBody {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 6.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }

  #employeeName, #busId, #phases, #startdate, #enddate{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .driverbtn {
    width: 50%;
    background-color: #3F7CAC;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    display:block;
    margin: 0 auto;
  }

  .driverSect{
    border-radius: 5px;
    background-color: white;
    padding: 20px;
  
    margin: auto; 
    width: 50%;
  }
  .driverForm {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: auto; 
    width: 50%;
  }

  #driverH3{
    font-size: 2em;
    border-left: 5px solid red;
    padding: 10px;
    color: #000;
    letter-spacing: 5px;
    margin-bottom: 60px;
    font-weight: bold;
    padding-left: 10px;
    
  }

  
  .manBody {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 6.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }

  #employeeName, #stationname{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .manBtn {
    width: 50%;
    background-color: #3F7CAC;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    display:block;
    margin: 0 auto;
  }

  .manSect{
    border-radius: 5px;
    background-color: white;
    padding: 20px;  
    margin: auto; 
    width: 50%;
  }
  .manForm {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: auto; 
    width: 50%;
  }

  #manH3{
    font-size: 2em;
    border-left: 5px solid red;
    padding: 10px;
    color: #000;
    letter-spacing: 5px;
    margin-bottom: 60px;
    font-weight: bold;
    padding-left: 10px;
  }

  
  .ticketBody{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 6.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    }

    #ticketType, #description, #price {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    }

    .ticketBtn {
    width: 50%;
    background-color: #3F7CAC;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    display:block;
    margin: 0 auto;
    }

    .ticketSect{
    border-radius: 5px;
    background-color: white;
    padding: 20px;    
    margin: auto; 
    width: 50%;
    }
    .ticketForm {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: auto; 
    width: 50%;
    }

    #ticketH3{
    font-size: 2em;
    border-left: 5px solid red;
    padding: 10px;
    color: #000;
    letter-spacing: 5px;
    margin-bottom: 60px;
    font-weight: bold;
    padding-left: 10px;
    }